
* { margin: 0; padding: 0; }

#wrap {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 원모양 */
    background: 
        linear-gradient(90deg, rgba(4,0,78,1) 0%, rgba(46,46,171,1) 35%, rgba(81,170,235,1) 68%, rgba(146,225,241,1) 100%);
    /* 애니메이션 */
    animation-name: ball;                      /* 애니메이션 이름 */
    animation-duration: 3s;                    /* 재생시간 */
    animation-timing-function: linear;         /* 타이밍 함수 */
    animation-iteration-count: infinite;       /* 반복 횟수 */
}

#wrap h1 { line-height: 200px; color: white; text-align: center; }

/* 애니메이션 변경지점을 지정하는 속성 */
@keyframes ball {
    /* 시작 지점 - from or 0% */
    /* 종료 지점 - to or 100% */
    from {
        left: 0;
    }

    50% {
        left: 500px;
        transform: rotate(360deg);
    }
    
    to {
        left: 0;
        transform: rotate(0deg);
    }
}